.comfort{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 600px){
    .comfort{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
