.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form input.focus{
    border: none;
}
.register{
    background-color: rgba(0, 0, 0, 0.911);
    margin-top: 30px;
    padding: 20px 60px;
}
.reg-email{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1.6px solid rgb(40, 169, 212);
    padding: 5px 20px;
}
.reg-name{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1.6px solid rgb(40, 169, 212);
    padding: 5px 20px;
}
form input{
    border-radius: 2px;
}
.reg-password{
    margin-bottom: 19px;
    border: none;
    border-bottom: 1.5px solid rgb(40, 169, 212);
    padding: 5px 20px;
}
.submit-button{
    width: 87%;
    font-weight: 500;
}
.create-account{
    text-decoration: none;
    font-weight: 600;
}
.social-icon{
    color: white;
    font-size: 30px;
    text-align: center;
}
.social-icon .google{
    cursor: pointer;
    color: rgb(218, 81, 63);
}
.social-icon .github{
    margin-left: 20px;
    cursor: pointer;
    color: rgb(170, 170, 170);
}
.social-icon .facebook{
    margin-left: 20px;
    cursor: pointer;
    color: #4867AA;
}
.info{
    margin-top: 0px;
}